POSTGRES_DB=vocacional_db
POSTGRES_USER=rumbo_app
POSTGRES_PASSWORD=rumbo_app_dev

DB_URL=jdbc:postgresql://localhost:5432/vocacional_db
DB_USERNAME=rumbo_app
DB_PASSWORD=rumbo_app_dev
DB_DDL_AUTO=update
DB_SHOW_SQL=true
DB_SQL_INIT_MODE=never
